.contactOption  {
         background: url( ../../../../../common/html/classic/images/userpic.gif ) no-repeat;
         background-color: #fff;
         background-position: 2px 2px;
         padding-left: 18px;
         color: #000;
         width: 100%;
}

.groupOption {
         background: url( ../../../../../common/html/classic/images/user-group.gif ) no-repeat;
         background-color: #fff;
         background-position: 2px 2px;
         padding-left: 18px;
         color: #000;
         width: 100%;
}

.listOption {
         background: url( ../../../../../common/html/classic/images/listpic.gif ) no-repeat;
         background-color: #fff;
         background-position: 2px 2px;
         padding-left: 18px;
         color: #000;
         width: 100%;
}