.issueList_transitionLog
{
	padding-left: 23px;
	padding-top: 5px;
	font-size: 8pt!important;
}

.issueList_transitionLog a
{
	font-size: 8pt!important;
	color: #3A76B1!important;
}

.issue_transitionLog td
{
	font-size: 8pt!important;
}