* {
	font-family:Arial, Helvetica, sans-serif;
}
html {
	background:#fff;

}
body {
	background:#fff;
}
h1 {
	padding:0 20px 10px 20px;
	color:#444444;
	font-size:1.9em;
}
a {
	color:#aaa;
}
a:hover {
	color:#333;
}
#head {
	font-size:0.85em;
	color:#aaa;
	padding:12px 0 20px 20px;
}
#head a {
	padding-right:3px;
}
.album-list .albumname a {
	font-size:0.95em;
	font-size:1.1em;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#223445;
}
.album-list .albumname a:hover {
	text-decoration:underline;
	color:#223445;
}
.albumdate {
	color:#555;
	font-size:0.75em;
	margin:0 0 10px 0;
}
.countphotos {
	color:555;
	font-style:italic;
	font-size:0.85em;
	color:#999;
	padding-left:0.3em;
}
.pages li {
	padding:0 5px;
	color:#777;
}
.pages li.page-arrow a {
	text-decoration:none;
}
.pages li.page-arrow a:hover {
	color:#333;
	text-decoration:none;
}

.left-block {
	vertical-align:top;
}
.right-block {
	vertical-align:top;
}
.image-desc {
	color:#555;
	padding: 0 0 5px 0;
	font-size:.95em;
}
.select-thumb {
	border-color:#fdca1b;
}
.left-block {
	padding:10px;
	background:#eeeeee;
}
.view2-content {
	padding:20px 0 0 0;
}
.view2-content td {
	vertical-align:top;
}
.photo {
	text-align:center;
	position: relative;
}
.when {
	font-style:italic;
	font-size:0.95em;
	color:#787878;
	font-weight:bold;
	margin-bottom:0.5em;
	padding-left:20px;
}
.description {
	font-size:0.95em;
	line-height:1.25em;
	color:#222;
	padding:0 20px 0.5em 20px;
}
.pages-title {
	color:#787878;
	font-size:0.85em;
	padding-bottom:0.5em;
}
#footer {
	font-size:0.72em;
	color:#999;
	text-align:center;
}
.pager_hover {
	background-color:#ddd;
}